
img.boardpic {
    align-content: center;
    width: 280px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #272A4B;
}

.boardcard {
    position: relative;
    align-content: center;
}


.boardcard h3 {
    transform: translateY(-45%);
    whitespace: nowrap;
    font-weight: 600;
    font-style: italic;
}


