.donate-list li, .donate-list h3{
    text-align: left;
    font-size: 1.3em;
}

.donate-list h3 {
    font-size: 1.3em;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: #272A4B;
    text-decoration-thickness: 2px;
}