/* Team Colors:
blue: #272A4B    39, 42, 75*/
/*red: #DB3342   219, 51, 66*/
/*white: #FFFFFF 255, 255, 255*/

:root {
    --bannertime: .5;
    --blue: #272A4B;
    --red: #DB3342;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(39, 42, 75, .05);
}

.title {
    padding: 14% 0;
    background-position: center;
    background-image: url("../../public/assets/victory.png");
    background-size: cover;
    background-position: center 0%;
}

.title-text {
    margin: 0;
    width: 100%;
}


.title h1 {
    text-transform: uppercase;
    position: relative;
    text-align: center;
    font-size: 3.5em;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 15px #272A4B;
    margin-bottom: 0;
    animation: slidedown 1s ease;
}

.title h3 {
    margin-top: 0;
    font-size: 2em;
    font-weight: 400;
    color: #fff;
    position: relative;
    text-align: center;
    padding-bottom: 10px;
    text-transform: lowercase;
    font-style: italic;
    text-shadow: 0 0 15px #272A4B;
    animation: slidedown 1.2s ease;
}
@keyframes slidedown{
    0%{
        margin-top: -10px;
        opacity: 0;
    }
    50% {
        margin-top: -10px;
        opacity: 0;
    }
    100%{
        margin-top: 0px;
        opacity: 1;
    }
}

.banner {
    position: absolute;
    margin: 0;
    height: 130px;
    width: 100%;
    background-color: rgba(219, 51, 66, 0.7);
    animation: slidein .5s ease-in;
}
@keyframes slidein{
    0%{
        transform: skewX(40deg) translateX(-100%);
    }
    100%{
        transform: skewX(0deg) translateX(0%);
    }
}

.aboutus {
    padding: 1.5em 0;
    font-size: 1.3em;
    animation: slidedown 2s ease;
}

.aboutus h2 {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: #272A4B;
    text-decoration-thickness: 8px;
}

.ant-card {
    height: 15em;
    margin: 0;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(50, 92, 255, 0);
    border-color: #282c34;
    border-width: 2px;
    animation: slidedown;
    transition: transform, background-color;
    transition-timing-function: ease;
    transition-duration: 200ms;

}
.ant-card:hover {
    transform: scale(1.05);
}
.ant-card:active {
    transform: scale(.98);
}

.ant-card-body {
    margin-top: 1px;
    position: absolute;

}

.ant-card-body h3 {
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: #272A4B;
    text-decoration-thickness: 1.5px;
}

.ant-card-body p {
    font-size: 1.2em;
}

.ant-card-body.icon {
    height: 36px;
}

.ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-light{
    background-color: #272A4B;
    color: #ffffff;
    font-size: 1.4em;
    padding: .25%;
}

.ant-menu-overflow-item.ant-menu-item.ant-menu-item-only-child {
    padding: 0 2.5%;
}

.ant-menu-horizontal > .ant-menu-item a {
    color: #f6f6f6;
}

.ant-menu-overflow{
    flex-direction: row-reverse;
    padding-right: 4%;
}

.fc {
    margin: 3em;
}

.fc-scrollgrid{
    font-size: 1.3em;
}

#eagle_logo {
    margin-right: auto;
    border-radius: 50px;
    transition: transform, background;
    transition-timing-function: ease;
    transition-duration: 400ms;
    background: rgb(246, 246, 246);
}

#eagle_logo:hover {
    transform: scale(1.05);
}

#eagle_logo:active {
    transform: scale(.98);
}

.aboutus {
    padding: 3em;
}