:root {
    --bannertime: .5;
    --blue: #272A4B;
    --red: #DB3342;
}

body {
    text-align: center;
    color: #272A4B;
    font-family: Calibri;
    background-color: rgba(39, 42, 75, .05);
}

.wrapper {
    position: relative;
    min-height: 100vh;
}

.bodyParagraph {
    font-family: "Century Gothic";
    animation: slidedown 2s ease;
}

.bodyParagraph p {
    padding: 0em 3em 0em 3em;
    font-size: 1.4em;
    font-weight: 500;
}

.bodyParagraph h1 {
    font-size: 4em;
    -webkit-text-stroke-width: 2px;
    color: #272A4B;
}

.bodyParagraph h2 {
    color: #272A4B;
    font-size: 2.5em;
    font-style: italic;
    -webkit-text-stroke-width: 1.5px;
}

.bodyParagraph h3 {
    color: #272A4B;
    font-size: 1.5em;
}


.ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-light{
    font-family: "Century Gothic";
    background-color: #272A4B;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    padding: .25%;
}

.ant-menu-overflow-item.ant-menu-item.ant-menu-item-only-child {
    padding: 0 2.5%;
}

.ant-menu-horizontal > .ant-menu-item a {
    color: #f6f6f6;
}

.ant-menu-horizontal > .ant-menu-item a:hover {
    color: #ff6074;
    text-decoration: none;
}

.ant-menu-overflow{
    flex-direction: row-reverse;
    padding-right: 4%;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
    padding-top: 8px;
    font-family: "Century Gothic";
    font-size: 1.3em;
    background-color: #2c2e4b;
    color: #ffffff;
}

.footer h {
    font-weight: bold;
    transform: translateY(10%);
    padding-bottom: 0px;
}
.footer p {
    padding-bottom: 0px;
}

img.eagle-photo {
    position: absolute;
    height: 55px;
    transform: translate(-40%, -12%);
}

#eagle_logo {
    margin-right: auto;
    border-radius: 50px;
    transition: transform;
    transition-timing-function: ease;
    transition-duration: 200ms;
}

#eagle_logo:hover {
    transform: scale(1.05);
}

#eagle_logo:active {
    transform: scale(.98);
}

.aboutus {
    padding: 3em;
}