:root {
    --bannertime: .5;
    --blue: #272A4B;
    --red: #DB3342;
}

body {
    text-align: center;
    font-family: Calibri;
    background-color: rgba(39, 42, 75, .05);
}

.bodyParagraph {
    font-family: "Century Gothic";
    padding: 1.5em 0;
    font-size: 1.3em;
    animation: slidedown 2s ease;
}

.wrapper {
    position: relative;
    min-height: 100vh;
}

.bodyParagraph h1 {
    font-weight: 10000;
    color: #272A4B;
    text-decoration: underline;
    text-decoration-color: #272A4B;
    text-decoration-thickness: 4px;
}

.bodyParagraph h2 {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: #272A4B;
    text-decoration-thickness: 4px;
}


.ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-light{
    font-family: Calibri;
    background-color: #272A4B;
    color: #ffffff;
    font-size: 1.4em;
    padding: .25%;
}

.ant-menu-overflow-item.ant-menu-item.ant-menu-item-only-child {
    padding: 0 2.5%;
}

.ant-menu-horizontal > .ant-menu-item a {
    color: #f6f6f6;
}

.ant-menu-overflow{
    flex-direction: row-reverse;
    padding-right: 4%;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
    font-family: "Calibri Light";
    white-space: pre-line;
    font-size: 18px;
    background-color: #272A4B;
    color: #ffffff;
}

#eagle_logo {
    margin-right: auto;
    border-radius: 50px;
    transition: transform, background;
    transition-timing-function: ease;
    transition-duration: 400ms;
    background: rgb(246, 246, 246);
}

#eagle_logo:hover {
    transform: scale(1.05);
}

#eagle_logo:active {
    transform: scale(.98);
}

.aboutus {
    padding: 3em;
}