:root {
  --bannertime: 0.5;
  --blue: #272a4b;
  --red: #db3342;
}

body {
  text-align: center;
  font-family: Calibri;
  background-color: rgba(39, 42, 75, 0.05);
}

.bodyParagraph {
  font-family: Calibri;
  padding: 1.5em 0;
  font-size: 1.3em;
  animation: slidedown 2s ease;
}

.wrapper {
  margin: 20px;
}

.bodyParagraph h1 {
  font-weight: 2000;
  color: #272a4b;
  text-decoration: underline;
  text-decoration-color: #272a4b;
  text-decoration-thickness: 4px;
}

.bodyParagraph h2 {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: #272a4b;
  text-decoration-thickness: 4px;
}

.ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-light {
  font-family: Calibri;
  background-color: #272a4b;
  color: #ffffff;
  font-size: 1.4em;
  padding: 0.25%;
}

.ant-menu-overflow-item.ant-menu-item.ant-menu-item-only-child {
  padding: 0 2.5%;
}

.ant-menu-horizontal > .ant-menu-item a {
  color: #f6f6f6;
}

.ant-menu-overflow {
  flex-direction: row-reverse;
  padding-right: 4%;
}

.footer {
  align-content: end;
  text-align: center;
  font-family: "Calibri Light";
  white-space: pre-line;
  font-size: 18px;
  background-color: #272a4b;
  color: #ffffff;
  padding: 2px;
}

#eagle_logo {
  margin-right: auto;
  border-radius: 50px;
  transition: transform, background;
  transition-timing-function: ease;
  transition-duration: 400ms;
  background: rgb(246, 246, 246);
}

#eagle_logo:hover {
  transform: scale(1.05);
}

#eagle_logo:active {
  transform: scale(0.98);
}

.aboutus {
  padding: 3em;
}
