

.vol-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
    padding: 0px 20px 0px 20px;
    align-items: start;
    justify-content: center;
}

.vol-grid h2{
    padding: 0px 14px 0px 14px;
}

.vol-grid p {
    padding: 1px 14px 1px 14px;
}

.left {
    text-align: start;
}

.right {
    text-align: end;
}

img.coachingpic {
    width: 100%;
    max-width: 450px;
    margin-bottom: 30px;
    border-radius: 2px;
}

img.boardmempic {
    width: 100%;
    max-width: 450px;
    margin-left: 2px;
    margin-bottom: 30px;
    border-radius: 2px;
}

img.fundraisepic {
    width: 100%;
    max-width: 550px;
    border-radius: 2px;
}